<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>HouDun许愿墙</title>
    {block name="h_css"}
    <link rel="stylesheet" href="{C('TMPL_PARSE_STRING.__CSS__')}/index.css" />
    {/block}
    {block name="h_javascript"}
    <script type="text/javascript" src="{C('TMPL_PARSE_STRING.__JS__')}/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{C('TMPL_PARSE_STRING.__JS__')}/index.js"></script>
    {/block}
</head>
<body>
{block name="header"}{include 'Header/header.html'}{/block}
{block name="body"}{/block}
{block name="footer"}{include 'Footer/footer.html'}{/block}
</body>
</html>